::ng-deep html,
::ng-deep body {
    margin: 0;
}
::ng-deep body {
    background-color: #f7f2ee;
}

/* text */
::ng-deep * {
    font-family: 'Roboto', sans-serif;
}
::ng-deep .text-uppercase {
    text-transform: uppercase;
}
::ng-deep .text-bold {
    font-weight: bold;
}
::ng-deep .text-left {
    text-align: left;
}
::ng-deep .text-right {
    text-align: right;
}
::ng-deep .text-center {
    text-align: center;
}

/* text size */


/* color */
::ng-deep .text-error {
    color: #cf4343;
}
::ng-deep .text-pink,
::ng-deep .focus-pink:focus {
    color: #ffadad;
}
::ng-deep .hover-pink {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
::ng-deep .hover-pink:hover {
    color: #eea2a2;
}
::ng-deep .color-red {
    color: rgb(221, 30, 30);
}

/* spacing */
::ng-deep .no-margin {
    margin: 0;
}

/* align */
::ng-deep .pull-left {
    float: left;
}
::ng-deep .pull-right {
    float: right;
}

/* row and column */
::ng-deep .row {
    overflow: auto;
}

/* form input */
::ng-deep .form-group {
    margin-bottom: 15px;
}
::ng-deep .form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}
::ng-deep .form-input {
    display: block;
    padding: 7px 12px;
    border-radius: 4px;
    border: 2px solid #fff;
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(85, 85, 85, 0.3);
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
::ng-deep .form-input-flat {
    box-shadow: none;
    border: 1px solid rgba(85, 85, 85, 0.3);
}
::ng-deep .form-input-error {
    border-color: #cf4343;
}
::ng-deep .form-input:focus {
    outline: 2px solid #555;
    outline-offset: -2px;
}

/* checkbox */
::ng-deep .checkbox {
    display: inline-block;
    margin-right: 10px;
}
::ng-deep .checkbox input {
    display: none;
}
::ng-deep .checkbox .checkbox__check {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #333;
    border-radius: 4px;
    vertical-align: middle;
    margin-top: -2px;
}
::ng-deep .checkbox input:checked ~ .checkbox__check {
    border-color: #ffadad;
}
::ng-deep .checkbox input:checked ~ .checkbox__check:after {
    content: '';
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    position: absolute;
    border: solid #ffadad;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* buttons */
::ng-deep .btn {
    display: inline-block;
    padding: 7px 12px;
    border: 1px solid #555;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: color 0.3s, background 0.3s, border-color 0.3s;
    transition: color 0.3s, background 0.3s, border-color 0.3s;
}
::ng-deep .btn,
::ng-deep .btn:focus {
    color: #fff;
    background-color: #555;
    border-color:#555;
}
::ng-deep .btn:active,
::ng-deep .btn:hover {
    color: #333;
    background-color: #fff;
    border-color: #fff;
}
::ng-deep .btn-primary,
::ng-deep .btn-primary:focus {
    color: #f7f2ee;
}
::ng-deep .btn-primary:active,
::ng-deep .btn-primary:hover {
    color: #333;
    background-color: #f7f2ee;
    border-color: #f7f2ee;
}

/* icons */
::ng-deep .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;   
}
::ng-deep .sidebar__icon {
    margin-right: 15px;
}
::ng-deep .icon-schedule {
    background-image: url('../assets/images/calendar.png');
}
::ng-deep .icon-grade {
    background-image: url('../assets/images/grade.png');
}
::ng-deep .icon-settings {
    background-image: url('../assets/images/settings.png');
}

/* table */
::ng-deep table {
    border-spacing: 0;
    border-collapse: collapse;
}


/* dashboard */
/* dashboard */
.dashboard {
    display: grid;
    grid-template-columns: minmax(200px, auto) 1fr;
    grid-template-rows: minmax(70px, auto) 1fr;
    grid-template-areas: 
        "sidebar navbar"
        "sidebar main";
    min-height: 100vh;
}

/* sidebar */
.sidebar {
    grid-area: sidebar;
    background-color: #ffadad;
    height: 100%;
}
.sidebar__logo {
    color: #fff;
    padding: 0 15px;
    height: 70px;
    line-height: 70px;
}
.sidebar__button {
    display: none;
}
.sidebar__lists {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar__lists > li > a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 17px 15px;
    -webkit-transition: color 0.3s, background 0.3s;
    transition: color 0.3s, background 0.3s;
}
.sidebar__lists > li > a:hover {
    color: #333;
    background-color: rgba(255,255,255, 0.5);
}
.sidebar__lists > li > a.active,
.sidebar__lists > li > a.active:hover {
    color: #333;
    background-color: #fff;
}

/* navbar */
.navbar {
    grid-area: navbar;
    padding: 10px 15px;
}
.navbar__nav {
    background-color: #fff;
    height: 100%;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.1);
}
.navbar__nav > ul {
    list-style-type: none;
    padding: 0 15px;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar__lists {
    float: right;
}
.navbar__profile-name {
    vertical-align: middle;
    cursor: default;
}
.navbar__profile {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ffadad;
    border-radius: 100%;
    margin-right: 5px;
    margin-left: 10px;
    vertical-align: middle;
    cursor: default;
}
.navbar__profile-dropdown {
    display: inline-block;
}
::ng-deep .navbar__profile-dropdown div.dropdown__content {
    margin-top: 15px;
    right: -15px;
}
::ng-deep .navbar__profile-dropdown button.dropdown__button {
    background: none;
    border: 0;
    padding: 0;
    margin-bottom: 0;
}
::ng-deep .navbar__profile-dropdown span.dropdown__arrow {
    border-top-color: #333;
}

/* main */
.main {
    grid-area: main;
    min-height: calc(100vh - 90px);
    padding: 5px 15px;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* main content */
::ng-deep .box {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    min-height: calc(100% - 40px);
    box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.1);
}

@media (max-width: 767px) {
    /* dashboard */
    .dashboard {
        grid-template-columns: 100%;
        grid-template-rows: minmax(70px, auto) minmax(70px, auto) 1fr;
        grid-template-areas: 
            "sidebar"
            "navbar"
            "main";
        width: 100vw;
        overflow-y: hidden;
    }
    /* sidebar */
    .sidebar__navbar {
        width: 100%;
    }
    .sidebar__logo {
        display: inline-block;
    }
    .sidebar__button {
        position: relative;
        float: right;
        display: inline-block;
        margin: 20px 15px;
        padding: 0;
        width: 28px;
        cursor: pointer;
        background: none;
        border: 0;
    }
    .sidebar__button span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        top: 13px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .sidebar__button span:first-child {
        top: 5px;
    }
    .sidebar__button span:last-child {
        top: 21px;
    }
    .sidebar__button.in span {
        top: 13px;
        display: none;
    }
    .sidebar__button.in span:first-child {
        transform: rotate(45deg);
        display: block;
    }
    .sidebar__button.in span:last-child {
        transform: rotate(-45deg);
        display: block;
    }
    .sidebar__lists {
        position: fixed;
        left: 0;
        top: 70px;
        bottom: 0;
        z-index: 10;
        background-color: #ffadad;
        transform: translateX(-100%);
    }
}

@media (min-width: 767px) {
    .sidebar__lists {
        transition: none!important;
        transform: translateX(0px)!important;
    }
}