<div [class]="isLoggedIn ? 'dashboard' : ''" (window:resize)="onResize()">
    <nav class="navbar" *ngIf="isLoggedIn">
        <div class="navbar__nav">
            <ul class="navbar__lists">
                <li>
                    <span class="navbar__profile-name">{{ user.firstname }}</span>
                    <span class="navbar__profile"></span>
                    <div class="navbar__profile-dropdown">
                        <app-dropdown [hasArrow]="true">
                            <ul slotList>
                                <li>
                                    <a routerLink="/settings">Settings</a>
                                </li>
                                <li>
                                    <button (click)="logout()">Logout</button>
                                </li>
                            </ul>
                        </app-dropdown>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <aside class="sidebar" *ngIf="isLoggedIn">
        <div class="sidebar__navbar">
            <div class="sidebar__logo">School Name</div>

            <button class="sidebar__button" [class]="hasSidebar ? 'in' : ''" (click)="this.hasSidebar = !this.hasSidebar">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <ul class="sidebar__lists" [class]="hasSidebar ? 'in' : '' " [@animateMe]="hasSidebar || !isMobile ? 'open' : 'closed'">
            <li>
                <a routerLink="/schedule" routerLinkActive="active">
                    <i class="sidebar__icon icon icon-schedule"></i>
                    Schedule
                </a>
            </li>
            <li>
                <a routerLink="/grade" routerLinkActive="active">
                    <i class="sidebar__icon icon icon-grade"></i>
                    Grade
                </a>
            </li>
            <li>
                <a routerLink="/settings" routerLinkActive="active">
                    <i class="sidebar__icon icon icon-settings"></i>
                    User Profile
                </a>
            </li>
            <li>
                <a routerLink="/settings" routerLinkActive="active">
                    <i class="sidebar__icon icon icon-settings"></i>
                    Settings
                </a>
            </li>
        </ul>
    </aside>

    <main class="main">
        <router-outlet (activate)="componentAdded($event)"></router-outlet>
    </main>
</div>