/* dashboard */
.dashboard {
    display: grid;
    grid-template-columns: minmax(200px, auto) 1fr;
    grid-template-rows: minmax(70px, auto) 1fr;
    grid-template-areas: 
        "sidebar navbar"
        "sidebar main";
    min-height: 100vh;
}

/* sidebar */
.sidebar {
    grid-area: sidebar;
    background-color: #ffadad;
    height: 100%;
}
.sidebar__logo {
    color: #fff;
    padding: 0 15px;
    height: 70px;
    line-height: 70px;
}
.sidebar__button {
    display: none;
}
.sidebar__lists {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar__lists > li > a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 17px 15px;
    -webkit-transition: color 0.3s, background 0.3s;
    transition: color 0.3s, background 0.3s;
}
.sidebar__lists > li > a:hover {
    color: #333;
    background-color: rgba(255,255,255, 0.5);
}
.sidebar__lists > li > a.active,
.sidebar__lists > li > a.active:hover {
    color: #333;
    background-color: #fff;
}

/* navbar */
.navbar {
    grid-area: navbar;
    padding: 10px 15px;
}
.navbar__nav {
    background-color: #fff;
    height: 100%;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.1);
}
.navbar__nav > ul {
    list-style-type: none;
    padding: 0 15px;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar__lists {
    float: right;
}
.navbar__profile-name {
    vertical-align: middle;
    cursor: default;
}
.navbar__profile {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ffadad;
    border-radius: 100%;
    margin-right: 5px;
    margin-left: 10px;
    vertical-align: middle;
    cursor: default;
}
.navbar__profile-dropdown {
    display: inline-block;
}
::ng-deep .navbar__profile-dropdown div.dropdown__content {
    margin-top: 15px;
    right: -15px;
}
::ng-deep .navbar__profile-dropdown button.dropdown__button {
    background: none;
    border: 0;
    padding: 0;
    margin-bottom: 0;
}
::ng-deep .navbar__profile-dropdown span.dropdown__arrow {
    border-top-color: #333;
}

/* main */
.main {
    grid-area: main;
    min-height: calc(100vh - 90px);
    padding: 5px 15px;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* main content */
::ng-deep .box {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    min-height: calc(100% - 40px);
    box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.1);
}

@media (max-width: 767px) {
    /* dashboard */
    .dashboard {
        grid-template-columns: 100%;
        grid-template-rows: minmax(70px, auto) minmax(70px, auto) 1fr;
        grid-template-areas: 
            "sidebar"
            "navbar"
            "main";
        width: 100vw;
        overflow-y: hidden;
    }
    /* sidebar */
    .sidebar__navbar {
        width: 100%;
    }
    .sidebar__logo {
        display: inline-block;
    }
    .sidebar__button {
        position: relative;
        float: right;
        display: inline-block;
        margin: 20px 15px;
        padding: 0;
        width: 28px;
        cursor: pointer;
        background: none;
        border: 0;
    }
    .sidebar__button span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        top: 13px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .sidebar__button span:first-child {
        top: 5px;
    }
    .sidebar__button span:last-child {
        top: 21px;
    }
    .sidebar__button.in span {
        top: 13px;
        display: none;
    }
    .sidebar__button.in span:first-child {
        transform: rotate(45deg);
        display: block;
    }
    .sidebar__button.in span:last-child {
        transform: rotate(-45deg);
        display: block;
    }
    .sidebar__lists {
        position: fixed;
        left: 0;
        top: 70px;
        bottom: 0;
        z-index: 10;
        background-color: #ffadad;
        transform: translateX(-100%);
    }
}